{% assign consultant = include.consultant %}

{% assign sizes = "(min-width: 90em) 22.5rem, (min-width: 54em) 19.5rem, (min-width: 42em) 17.5rem, 100vw" %}

<article class="project-card">
  <a href="/cv/{{ consultant.resume }}" class="no-hover no-print-link flip-consultant" tabindex="-1">
    <div class="project-card-img img sixteen-nine">
      {% if consultant.screenshot %}
        {% include srcset-img.html img=consultant.screenshot alt=consultant.title sizes=sizes %}
      {% endif %}
    </div>
  </a>
  <h3 class="project-card-title">
    <a href="/cv/{{ consultant.resume }}" class="flip-title">{{ consultant.name }}</a>
  </h3>
  {% if consultant.title %}
    <legend class="project-card-text fine faded">{{ consultant.title | markdownify | replace:'<p>','' | replace:'</p>','' }}</legend>
  {% endif %}
</article>
